<h1 style="margin-left:300px;">Listing assignments</h1>

<table style="margin-left:300px;">
  <thead style="margin-left:300px;">
    <tr>
      <th>Title</th>
      <th>Alt title</th>
      <th>Vimeo url</th>
      <th>Content</th>
      <th>Due date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody style="margin-left:300px;">
    <% @assignments.order('id ASC').all.each do |assignment| %>
      <tr>
        <td><%= assignment.title %></td>
        <td><%= assignment.alt_title %></td>
        <td><%= assignment.vimeo_url %></td>
        <td><%= assignment.content %></td>
        <td><%= assignment.due_date %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style="margin-left:300px;">
<%= link_to 'New Assignment', new_assignment_path %>
</div>
