<div class="container">
      <div class="main-content">
        <div class='featured-content'>
          <iframe class="vimeo" src="http://<%= @assignment.vimeo_url %>" width="700" height="393" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <div class="resources">
            <ul>
              <a href="#"><li class="resource">
                <p><strong>Resource 1</strong></p>
              </li></a>
              <a href="#"><li class="resource">
                <p><strong>Resource 2</strong></p>
              </li></a>
              <a href="#"><li class="resource">
                <p><strong>Resource 3</strong></p>
              </li></a>
              <a href="#"><li class="resource">
                <p><strong>Resource 4</strong></p>
              </li></a>
              <a href="#"><li class="resource">
                <p><strong>Resource 5</strong></p>
              </li></a>
              <a href="#"><li class="resource">
                <p><strong>Resource 6</strong></p>
              </li></a>
              <a href="#"><li class="resource">
                <p><strong>Resource 7</strong></p>
              </li></a>
            </ul>
          </div>
        </div>

        <div class="text-content clearfix">
          <div class="page-title">
            <h1><%= @assignment.title %></h1>
            <h2>Due: <%= @assignment.due_date %> </h2>
          </div>
          <div class="page-text">
            <p> <%= @assignment.content %></p>
          </div>
        </div>
      </div>
    </div>

    <style type="text/css">
      body{
        background-image: url(<%= asset_path 'econ.jpg' %>) !important;
        background-repeat: repeat;
      }
    </style>

<!-- link_to 'Edit', edit_assignment_path(@assignment) -->
<!-- link_to 'Back', assignments_path -->
