<style type="text/css">
    html{
        height: 100%;
    }
    body{
        height: 100%;
        overflow: hidden;
    }
</style>
<div id="slideshow" style="margin:0;width:100%;height:100%;">

	<div style="background-image:url(<%= asset_path 'marnas.jpg' %>);">
    	<div class="slideshow-text">
        	<h1 class="try">Natural Processes</h1>
        	<a><h2>Natural Processes. Beacon Hill", 2010</h2></a>
        	<a href="http://web.mit.edu/fayefaye/www/Home_022010.html/"><h2>Read More...</h2></a>
    	</div>
    </div>

    <div style="background-image:url(<%= asset_path 'rondo.jpg' %>);">
    	<div class="slideshow-text">
        	<h1 class="try">Traces and Trends</h1>
        	<a><h2>Traces and Trends. West End", 2010</h2></a>
        	<a href="http://web.mit.edu/aml2010/www/"><h2>Read More...</h2></a>
    	</div>
    </div>

    <div style="background-image:url(<%= asset_path 'oldmap.jpg' %>);">
    	<div class="slideshow-text">
        	<h1 class="try">Change over Time</h1>
        	<a><h2>Changes over time. Longwood", 2012</h2></a>
        	<a href="http://11.016.scripts.mit.edu/www/alekseyp/"><h2>Read More...</h2></a>
    	</div>
    </div>

    <div style="background-image:url(<%= asset_path 'boston.jpg' %>);">
        <div class="slideshow-text">
            <p>What is a city?</p>
            <p>What forces shape its built form?</p>
            <p>How does its history influence future development?</p>
            <p>How are cities changing and what is their future?</p>

        </div>
    </div>

	<div style="background-image:url(<%= asset_path 'boston.jpg' %>);">
    	<div class="slideshow-text">
        	<p>What is a city?</p>
        	<p>What forces shape its built form?</p>
        	<p>How does its history influence future development?</p>
            <p>How are cities changing and what is their future?</p>

    	</div>
    </div>

    <div style="background-image:url(<%= asset_path 'boston.jpg' %>);">
    </div>

</div>
<br clear="all" />
