<!DOCTYPE html>
<html>
<head>
  <title>Once and Future City</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="main-bar clearfix">
		<div class="content-left">
			<a class="show-menu" href="">Show Menu</a>
			<p><i>11.016/4.211 | Spring 2014</i></p>
			<h1>Once and Future City</h1>
			<p style="margin-bottom:0;"><i>Professor: <a href="http://www.annewhistonspirn.com">Anne Whiston Spirn</a></i></p>
		</div>
		<div class="content-right">
			<p><i><a href="http://mit.edu">Massachusetts Institute of Technology</a></i></p>
			<p><i><a href="http://sap.mit.edu/">School of Architecture and Planning</a></i></p>
			<p><a href="http://architecture.mit.edu">MIT Architecture</a> | <a href="http://dusp.mit.edu/">Department of Urban Studies and Planning</a></p>
			
		</div>
	</div>

	<div class="main-bar-left">
			<ul>
				<li class="title">Class Information</li>
				<li><%= link_to 'Home', root_path %></li>
				<% Info.all.each do |info| %>
				<li><%= link_to info.title, info_path(info) %></li>
				<% end %>

				<li class="title">Assignments</li>

				<% Assignment.order('id ASC').all.each do |assignment| %>
				<li><%= link_to assignment.alt_title, assignment_path(assignment) %></li>
				<% end %>

				<li class="title">Student Projects</li>

				<li><a href="#">Current Projects (2015)</a></li>
				<li><a href="#">Featured Projects</a></li>

				<li class="title">Resources</li>

				<li><%= link_to 'Helpful Tutorials + Links', tutorials_index_path %></li>
				<li><%= link_to 'Site Research', research_index_path %></li>
				<li><%= link_to 'Timeline', timeline_index_path %></li>
				<li><a href="mailto:spirn@mit.edu">Comments</a></li>
			</ul>
		</div>

	<%= yield %>

</body>
</html>
